__pycache__/
venv/
env/

# Python compiler
build/
dist/
.swp

# TwitchChannelPointsMiner generated folders
analytics/
cookies/
assets/
logs/

# https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2
# script folder name
TwitchChannelPointsMiner/
