name: Build-All-Platforms

# Controls when the workflow will run
on:
  push:
    tags:
      - 'v*'
  workflow_run:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
      
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v3
    
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
          cache: 'pip'
          cache-dependency-path: |
            **/requirements*.txt
      
      # Install dependencies
      - name: Install Dependencies
        run: |
          python -m pip install -r requirements.txt
      
      # Download lastest version of TwitchChannelPointsMiner
      - name: Download TwitchChannelPointsMiner script repo
        run: |
          chmod +x ./download_directory.sh
          ./download_directory.sh
        shell: bash
      
      # Build python script into a stand-alone exe
      # using pyinstaller. No virtual environment needed.
      - name: Build script
        run: |
          pyinstaller TwitchFarm.spec
      
      # Uploads binaries to release
      - name: Release binaries
        uses: softprops/action-gh-release@v1
        with:
          files: ./dist/*
